# Dependencies
node_modules

# Build outputs
dist
.next
.turbo

# Coverage
coverage

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE
.idea
.vscode
*.swp
*.swo
