PORT=3000
CORS_ORIGIN=http://localhost:5173
JWT_SECRET=your-jwt-secret

AUTH_SERVICE_URL=http://localhost:3001
USER_SERVICE_URL=http://localhost:3005
VIDEO_SERVICE_URL=http://localhost:3006
NOTIFICATION_SERVICE_URL=http://localhost:3003
